/* .my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #49d6a5;
  }

  .has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
  } */
  .two-by-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
